<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AE.Net.Mail" version="1.7.10.0" targetFramework="net452" />
  <package id="Batman.Core" version="1.0.0071" targetFramework="net452" />
  <package id="Batman.Core.Communication.SMTP" version="1.0.0071" targetFramework="net452" />
  <package id="CraigsUtilityLibrary-DataTypes" version="3.4.0199" targetFramework="net452" />
  <package id="CraigsUtilityLibrary-IO" version="3.4.0199" targetFramework="net452" />
  <package id="CraigsUtilityLibrary-Reflection" version="3.4.0199" targetFramework="net452" />
  <package id="Whatsapp.NET" version="1.2.2" targetFramework="net452" />
</packages>